.container {
    background: black;
    overflow: hidden;
    justify-content: center;
    margin: 80px;
    padding: 20px;
    align-content: flex-start;
  }


  .card {
    background-color: rgb(237, 237, 237);
    width: 400px;
    height: 600px;
    aspect-ratio: auto;
    border-radius: 30px;
    color: white;
    font-family: 'Open Sans';
    padding: 30px;
    position: relative;
    overflow: visible;}




    