img {
    float: left;
    position: relative;
    top: -25px;
    left: 20px;
    height: 105px;
  }

.button{
    background-color: rgb(246, 162, 190);
    aspect-ratio: auto;
    border-radius: 20px;
    border-color: rgba(246, 162, 190);
    color: black;
    font-family: 'Open Sans';
    padding: 5px;
    font-size: 30px;
    height: 60px;
    width: 160px;
    top: 400px;
    left: 30px;
    position: relative;
    
}

.button2{background-color: rgb(197, 246, 255);
    aspect-ratio: auto;
    border-radius: 20px;
    border-color: rgba(197, 246, 255 );
    color: black;
    font-family: 'Open Sans';
    padding: 5px;
    font-size: 30px;
    height: 60px;
    width: 160px;
    top: 460px;
    right:210px;
    position: relative;}