@use "sass:math";

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  max-width: 100vw;
  margin: -8px;
}

.container-inner {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 80rem;
  height: 100%;
  padding: 0 1rem 6rem;
  position: relative;
}

.background{
  &-home {
    background-image: url('./Assets/image.png');
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center center;
    
  }
  
  
}